.container{
    max-width: 80vw;

}
.max-auto{
    margin-left: auto;
    margin-right: auto;
}
#logo{
    width: 100px;
    border-radius: 10px;
    border: 2px solid red;
    margin: 5px;
    
}
.head{
    /* background-color: black; */
}

h1{
    padding-left: 5px;
    color: transparent;
    font-family: 'Protest Riot', sans-serif;
    padding-top: 50px;
    color: red;
    text-shadow: 20.5px 15px rgb(72, 61, 61);
    
}
h1::before{
    content: "PANDA...";
    position: absolute;
    width: 0;
    overflow: hidden;
    /* border-right: 3px solid orange; */
}
h1:hover::before{
    width: auto;
    filter: drop-shadow(5px -50px 10px orange);
    color: orange;
    transition: 1.5s ease-in-out;
    

}
.navbar{
    display: flex;
    
}
.navbar a:hover{
    
    filter: drop-shadow(0 0 5px pink);

}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.navbar li a{
    text-decoration: none;
    color: red;
}
nav{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    align-items: center;
    font-family: 'Protest Riot', sans-serif;
    
    border-radius: 10px;
    
}
.brand-head{
    font-family: 'Protest Riot', sans-serif;
    display: flex;
}
.nav-buttons-content{
    display: flex;
    border: none;
    background-color: aqua;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 10px;
    justify-content: space-between;
    
}
.search-bar:hover{
    font-style: italic;
    

}
.search-bar{
    font-size: 16px;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 10px;
    padding-left: 16px;
}
.sign-up-btn{

    background-color: rgb(226, 37, 37);
    font-size: 16px;
    cursor: pointer;
    font-family: cursive;
    float: right;
    border-top-right-radius: 10px;

    font-family: 'Protest Riot', sans-serif;
    
}
button{
    border: none;
    width: 100px;
    align-items: center;

}
button:hover{
    filter: drop-shadow(-5px 0px 10px black);
}
.sign-in-btn{
    background-color: rgb(123, 247, 123);
    font-size: 16px;
    cursor: pointer;
    float: right; 
    font-style: italic;
    font-family: 'Protest Riot', sans-serif; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
}  
.right-searchbar-btn{
    float: right !important;
    display: flex;
}  
.image-box{
    background-image: url(https://wallpapercave.com/wp/wp6437692.jpg) ;
    background-size: cover;
    display: block;
    height: 450px;
    width: auto;
    position: relative;
}
.large-title-bar{
    height: 10vw;
    position: relative;
}
.title-box-nature{
    padding: 10px 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 15% 40%;
    padding: auto;
    background-color: aliceblue;
    font-size: xxx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(41, 119, 187);
    border: 2px dodgerblue dotted;
    
}

.page-link:hover{
    box-sizing: border-box;
    padding: 0 2px;
    color: red;
    border-bottom-color: transparent ;


}

.page-link:active {
    color: yellow;
  }
#bar-2{
    display: flex;
    border: 3px dashed;
    border-color: aqua;
    background-color:whitesmoke;
    align-items: stretch;
    
    
}
.page-link {
color: rgb(126, 195, 255);
border: 2px;
}
.content{
    height: 100vw;
    background-color: burlywood;
}
.layer{
    
    background-color: lightcoral;
}
.vertical-border{
    margin-bottom: 4rem;

}
hr{
    border: 0;
    display: block;
    width: 100%;
    height: 0.065rem;
    margin: 1.25rem;
    padding: 0;
}
#layer1{
    align-items: center;
    
}
.flex{
    display: flex;
}
.flex-top{
    align-items: flex-start;
}
.justify-center{
    justify-content: center;

}
.contentbox-top{
    justify-content: left;
}
.footer-item-col{
    margin-left: 3px;
    


}
.footer-item-col-heading{
    font-size: medium;
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;

}

.list li{
    list-style: none; 
    display: list-item;
    margin-left: 0;
    padding-left: 0;
               
}
.footer-item{
    margin-bottom: 0.625rem;
}
